@import "./variables";
@import "./mixins";

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 500vh;
  background-image: url(../images/drops.svg);
  background-position: center;
  background-size: contain;

  &.no-scroll {
    overflow-y: hidden;
  }
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: $primaryDark;
}

p {
  color: $primaryLight;
  line-height: 1.8;

  @include breakpoint-up(xlarge) {
    font-size: $font-xsm;
  }
}

h2 {
  position: relative;
  display: inline-block;
  font-size: 1.75rem;
  &::after {
    content: "";
    position: absolute;
    bottom: -0.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 5px;
    background: linear-gradient(to right, $accentLight, $accentDark);
    border-radius: 20px;
  }

  @include breakpoint-up(xlarge) {
    font-size: $font-xlg;
  }
}

h3 {
  @include breakpoint-up(xlarge) {
    font-size: $font-sm;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.shadow-radius {
  box-shadow: 0px 0px 4px -1px $primaryDark;
  border-radius: 10px;
}

.has-bg {
  background-color: #312a41;
  z-index: 20;
  backdrop-filter: blur(8px);
  margin-top: 0.5rem;
}

.button {
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, $accentLight, $accentDark);
  // background-color: $accentDark;
  color: $white;
  // border: 2px solid $accentDark;
  border-radius: 10px;
  display: inline-block;
  transition: all 200ms ease-in-out;

  @include breakpoint-up(large) {
    font-size: 1rem;
    padding: 1.25rem 1.75rem;
  }

  &:hover {
    box-shadow: 0px 2px 5px -1px $primaryDark;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0px 0px 4px -1px $primaryDark;
    transform: translate(0);
  }
}
