@import "./variables";
@import "./mixins";

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 500vh;
  background-image: url(../images/body-bg.svg);
  background-position: center;
  background-size: contain;

  &.no-scroll {
    overflow-y: hidden;
  }
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: $primaryDark;
}

p {
  color: $primaryLight;
  line-height: 1.8;

  @include breakpoint-up(xlarge) {
    font-size: $font-xsm;
    line-height: 1.6;
  }
}

h2 {
  position: relative;
  display: inline-block;
  font-size: 1.75rem;
  &::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 8px;
    background: linear-gradient(to right, $accentLight, $accentDark);
    border-radius: 20px;
  }

  @include breakpoint-up(xlarge) {
    font-size: $font-xlg;
  }
}

h3 {
  @include breakpoint-up(xlarge) {
    font-size: $font-sm;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a.link {
  color: $primaryModeratelyLight1;
  font-weight: 700;
  transition: all 70ms;

  &:hover {
    color: $accentLight;
    text-decoration: underline;
  }
}

.shadow-radius {
  box-shadow: 0px 0px 4px -1px $primaryDark;
  border-radius: 10px;
}

.has-bg {
  background-color: #312a4133;
  // background-color: transparent;
  z-index: 20;
  backdrop-filter: blur(8px);
  box-shadow: 0px 2px 10px -1px #312a4199;

  // @include breakpoint-up(xlarge) {
  // }
}

.logo {
  position: relative;
  height: 3.5rem;
  display: inline-block;
  //   height: 6.875rem;

  @include breakpoint-up(large) {
    height: 5.25rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 30px;
    height: 16px;
    width: 3px;
    background-color: $primaryDark;
    animation: pulse 350ms ease-in-out alternate infinite;

    @include breakpoint-up(large) {
      top: 30px;
      right: 42px;
      height: 24px;
      width: 5px;
    }
  }

  img {
    height: 100%;
  }
}

.button {
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, $accentLight, $accentDark);
  // background-color: $accentDark;
  color: $white;
  // border: 2px solid $accentDark;
  border: none;
  border-radius: 10px;
  display: inline-block;
  transition: all 200ms ease-in-out;

  @include breakpoint-up(large) {
    font-size: 1rem;
    padding: 1.25rem 1.75rem;
  }

  &:hover {
    box-shadow: 0px 2px 5px -1px $primaryDark;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0px 0px 4px -1px $primaryDark;
    transform: translate(0);
  }
}

.why-work-with-me,
.get-in-touch {
  text-align: center;
  &__container {
    width: 80%;
    margin: 3rem auto;

    @include breakpoint-up(large) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .image {
      width: 100%;

      @include breakpoint-up(large) {
        flex: 1;
        order: 2;
        padding: 1rem;
      }

      img {
        border-radius: 10px;
        width: 100%;
      }
    }

    .text {
      @include breakpoint-up(large) {
        flex: 1;
        text-align: left;
        padding: 1rem;
      }
      p {
        // padding: 2rem 0;

        @include breakpoint-up(large) {
          order: 1;
          padding: 0;
        }
      }

      a {
        margin-top: 2rem;
        @include breakpoint-up(large) {
          font-size: 0.875rem;
        }
      }
    }
  }
}
