.header {
  background-image: url(../images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.5rem 0.875rem 0 0.875rem;

  @include breakpoint-up(large) {
    padding: 8rem 3rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms ease-in-out;

    // &__logo {
    //   position: relative;
    //   height: 3.5rem;
    //   //   height: 6.875rem;

    //   @include breakpoint-up(large) {
    //     height: 5.25rem;
    //   }

    //   &::after {
    //     content: "";
    //     position: absolute;
    //     top: 20px;
    //     right: 30px;
    //     height: 16px;
    //     width: 3px;
    //     background-color: $primaryDark;
    //     animation: pulse 350ms ease-in-out alternate infinite;

    //     @include breakpoint-up(large) {
    //       top: 30px;
    //       right: 42px;
    //       height: 24px;
    //       width: 5px;
    //     }
    //   }

    //   img {
    //     height: 100%;
    //   }
    // }

    &__menu-icon {
      height: 40px;
      width: 40px;
      border-radius: 20%;
      border: 2px solid $primaryLight;
      padding: 0.325rem;

      img {
        height: 100%;
      }

      @include breakpoint-up(large) {
        display: none;
      }
    }
  }

  &__content {
    @include breakpoint-up(large) {
      width: 95%;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      text-align: left;
      flex: 1;

      @include breakpoint-up(large) {
        padding-right: 3rem;
      }

      @include breakpoint-down(medium) {
        width: 70%;
        text-align: center;
        margin: auto;
      }
      @include breakpoint-down(xsmall) {
        width: 100%;
        text-align: left;
      }

      h1 {
        font-size: $font-lg;
        color: $primaryDark;
        margin-bottom: 2rem;
        line-height: 1;

        @include breakpoint-up(xlarge) {
          font-size: $font-xlg;
        }
      }

      p {
        margin-bottom: 2.25rem;

        @include breakpoint-up(xlarge) {
          font-size: $font-sm;
          line-height: 1.4;
          width: 80%;
        }
      }
    }

    .button {
      margin-bottom: 3.375rem;

      @include breakpoint-up(large) {
        margin-bottom: 0;
      }
    }
  }
}
