.projects {
  text-align: center;
  margin: 7rem 0;

  & > h3 {
    margin: 2rem 1rem 0 1rem;
  }

  & > p a {
    color: $primaryModeratelyLight2;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-template-rows: auto;
    gap: 3rem;
    width: 80%;
    margin: 2rem auto;

    .project {
      background: linear-gradient(
        to bottom right,
        $gradientDark,
        rgba($primaryDark, 0.8)
      );
      //   background-color: rgba($primaryDark, 0.8);
      backdrop-filter: blur(3px);
      padding: 1.25rem;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .image {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      h3 {
        margin-top: 1rem;
        color: $primaryModeratelyLight1;
      }

      p {
        margin: 1rem 0;
        color: lighten($primaryModeratelyLight2, 10%);

        @include breakpoint-up(xlarge) {
          font-size: $font-tiny;
        }
      }

      .links {
        a {
          margin-right: 1rem;
          font-size: 0.875rem;
        }
      }
    }
  }
}
