.services {
  margin: 5rem 1rem;
  text-align: center;
  // background-image: url(../images/drops.svg);
  // background-position: center;
  // background-size: contain;

  .sect-1,
  .sect-2 {
    @include breakpoint-up(medium) {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      // width: 80%;
    }

    @include breakpoint-up(small) {
      width: 80%;
      margin: auto;
    }
  }
  .service {
    margin-top: 2rem;
    @include breakpoint-up(medium) {
      flex: 1;
      padding: 2rem;
    }

    p {
      margin-top: 1rem;
      color: $primaryModeratelyLight2;
    }
  }
}
