// Colors
$primaryDark: #312a41;
$primaryLight: #484257;
$primaryModeratelyLight1: #dfdfdf;
$primaryModeratelyLight2: #908b99;
$white: #ffffff;
$accentLight: #ffa15f;
$accentDark: #fd8745;

// Font
$font-xxlg: 4.5rem; // 72px
$font-xlg: 4rem; // 64px
$font-lg: 2.25rem; // 36px
$font-md: 2rem; // 32px
$font-sm: 1.5rem; // 24px
$font-xsm: 1.25rem; // 20px
$font-tiny: 1.125rem; // 18px
